*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ramen{
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: larger;   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 250vh;
    font-display: swap;
    padding: 20px;
    border-radius: 10px;

}

